.admin-wrapper {
    display: flex;
    flex-wrap: wrap;

    
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;*/
    gap: 1rem;
}


.admin-title-wrapper {
    width: 100%;
}
.admin-title {
    color: var(--ant-color-text-heading);
    font-size: 1.2rem;
    font-weight: bold;
}


.location-block {
    padding: var(--ant-padding);
    
    display: grid;
    grid-template-columns: max-content auto max-content;
    gap: 0 .35rem;
    align-items: center;
    
    border-radius: 1rem;
    background-color: var(--ant-color-bg-elevated);
}
.location-block-title {
    font-size: .9rem;
    font-weight: 700;
    color: var(--ant-color-text-heading);
}

.location-block-middle {
    display: flex;
    flex-direction: column;
}


.admin-tasks-add-button {
    font-size: 1.3rem;
    font-weight: 600;
}

.task-block {
    padding: var(--ant-padding);
    
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    gap: .5rem;
    
    border-radius: 1rem;
    background-color: var(--ant-color-bg-elevated);
}


.admin-game-block {
    width: 100% !important;
}
.admin-game-block > .admin-block-list {
    max-height: none !important;
    justify-content: space-between;
}

.game-block {
    padding: var(--ant-padding);

    display: grid;
    ascent-override: 2 / 3;
    grid-template-rows: repeat(4, max-content);
    align-items: center;
    gap: .5rem;
    
    border-radius: var(--ant-border-radius-lg);
    background-color: var(--ant-color-bg-elevated);
}

.game-block > img {
    border-radius: var(--ant-border-radius);
}

.game-block-title {
    font-weight: 700;
    color: var(--ant-color-text-heading);
}

.game-block-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--ant-padding);
}