.wrapper {
    height: 100%;
    
    display: grid;
    grid-template-columns: auto max-content;
    gap: 2rem;

    align-items: center;
    justify-content: center;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}


.title {
    align-self: center;

    display: flex;
    flex-direction: row;
    gap: var(--padding);
    align-items: center;

    font-size: var(--font-size-heading-1);
}

.player-list {
    flex: 1 1 auto;

    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    justify-content: center;
}


.wrapper-start {
    height: 100%;
    
    display: grid;
    grid-template-rows: max-content auto;
}

.start-player-list {
    align-self: center;
}

.player {
    padding: var(--padding-lg) var(--padding-xl);
    
    display: grid;
    grid-template-columns: 48px max-content;
    gap: var(--padding);
    align-items: center;
    
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius-lg);
    background-color: var(--color-bg-elevated);
    
    font-weight: bolder;
    font-size: 3rem;
}