.wrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: max-content auto;
    gap: var(--ant-padding);
}

.top-wrapper {
    display: grid;
    grid-template-columns: auto max-content;
}

.content {
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    font-size: 1.2rem;
}

.title {
    display: flex;
    flex-direction: row;
    gap: var(--ant-padding);
    align-items: center;
}

.player-list {
    flex: 1 1 auto;

    display: flex;
    flex-wrap: wrap;
    gap: var(--ant-padding);
    justify-content: center;
}
