.player {
    flex: 0 0 150px;

    padding: 1.25rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: var(--ant-padding);
    align-items: center;

    border: solid 1px var(--ant-color-border);
    border-radius: var(--ant-border-radius);
    background-color: var(--ant-color-bg-elevated);

    text-align: center;
    word-break: break-all;
    font-size: 1.2em;
    color: var(--ant-color-text-heading);
}

.me {
    border-color: var(--ant-color-primary-border);
    background-color: var(--ant-color-primary);

    color: var(--ant-color-text-heading);
}