.task {
    /*max-width: 250px;*/
    padding: var(--ant-padding);

    display: grid;
    grid-template-columns: 32px minmax(0, 1fr) 24px;
    align-items: center;
    gap: var(--ant-padding);

    border: 1px solid var(--ant-color-border);
    border-radius: var(--ant-border-radius);
    background-color: var(--ant-color-bg-container);
    
    cursor: pointer;
    user-select: none;
    
    &.active {
        background-color: var(--ant-color-primary);
        color: var(--ant-color-text-heading);
    }
}

.delete {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: var(--ant-color-text-description);
    font-size: 18px;
    line-height: 1;
}

.delete:hover {
    color: var(--ant-color-error);
    background: var(--ant-color-error-bg);
}

.center {
    display: grid;
    grid-template-rows: max-content max-content;
}

.name {
    display: -webkit-box;
    color: var(--ant-color-text-heading);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.location {
    color: var(--ant-color-text-description);
}

.meta {
    min-width: 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: var(--ant-font-size-sm);
}

.location {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status {
    flex: none;
    color: var(--ant-color-primary);
}
