.layout-wrapper {
    width: 100%;
    height: 100%;
    padding: var(--padding);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--padding);

    background-color: var(--color-bg-layout);

    color: var(--color-text);
}

.content {
    overflow-y: auto;
}
