.layout-wrapper {
	height: 100%;
	padding: 0 var(--padding) var(--padding) var(--padding);

	display: grid;
	grid-template-rows: max-content auto;
	gap: var(--padding);

	background-color: var(--color-bg-layout);

	color: var(--color-text);
}

.layout-wrapper > header {
	margin-top: var(--padding);
	padding: var(--padding);

	display: grid;
	grid-template-columns: 24px auto max-content;
	gap: var(--padding);
	align-items: center;

	border: var(--line-width) var(--line-type) var(--color-border);
	border-radius: var(--border-radius);
	background-color: var(--color-bg-container);
}

.layout-wrapper > header > h2 {
	color: var(--color-text-heading);
	font-size: var(--font-size-heading-3);
	font-weight: normal;
}

.layout-header-user-wrapper {
	display: grid;
	grid-template-columns: max-content 24px;
	gap: var(--padding);
	align-items: center;
}


.layout-wrapper > .content {
	overflow-y: auto;
}
