.auth-wrapper {
	height: 100%;

	display: grid;
	place-content: center;
	grid-template-columns: minmax(250px, 300px);

	background-size: cover;
	background-position: bottom;
	background-image: url("bg/bg1.jpg");
}

.auth-content-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--padding-xl);

	/* border: var(--line-width) var(--line-type) var(--color-border); */
	/* border-radius: var(--border-radius);
	background-color: hsla(255, 0%, 0%, .2);
	backdrop-filter: blur(15px); */
}

.auth-content-form > h1 {
	color: var(--color-text-heading);
	text-align: center;
	font-weight: bold;
	font-size: var(--font-size-heading-1);
}

.auth-content-form-block {
	display: flex;
	flex-direction: column;
}

.auth-form-warning {
	color: var(--color-text-heading);
}