.container {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content;
    gap: var(--ant-padding);
}

.task-list {
    height: calc(100vh - 46px - (var(--ant-padding) * 3));
    overflow-y: auto;
}

.wrapper {
    position: relative;
    overflow: hidden;
    touch-action: none;

    flex: 1;
    height: calc(100vh - 46px - (var(--ant-padding) * 3));
    min-height: 0;

    display: flex;
}

.top-wrapper {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}
.top-title {
    font-size: var(--ant-font-size-heading-2);
    font-weight: 700;
    color: var(--ant-color-text-heading);
}

.content {
    display: flex;
    flex-direction: row;
}

.buttons,
.tasks {
    display: flex;
    flex-direction: column;
    gap: var(--ant-padding-xs);
}

.button-tool-icon {
    width: 20px;
}

.map {
    flex: 1 1 auto;
}
#zones {
    width: 100%;
    height: auto;
}
