.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.top-wrapper {
    display: grid;
    grid-template-columns: auto max-content max-content;
    align-items: center;
    gap: var(--padding);
}

.top-wrapper-title {
    font-weight: bold;
    font-size: var(--font-size-heading-2);
    color: var(--color-text-heading);
}

.emergency-button {
    width: 40px;
    padding: 7px;

    aspect-ratio: 1;

    border: 2px solid var(--color-error-border);
    border-radius: var(--border-radius);
    background-color: var(--color-error);

    color: var(--color-text-heading);

    &.disabled {
        border: 2px solid var(--color-border);
        background-color: var(--color-bg-elevated);

        color: var(--color-text-heading);
    }
}

.meeting {
    padding: var(--padding);

    display: grid;
    grid-template-columns: 32px auto max-content max-content;
    align-items: center;
    gap: var(--padding);

    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-elevated);

    color: var(--color-text-heading);
}

.meeting-start-wrapper {
    display: grid;
    grid-template-columns: 32px max-content;
    align-items: center;
    gap: 5px;
}

.meeting-start-button {
    width: 32px;

    display: grid;
    aspect-ratio: 1;

    border: 1px solid var(--color-error-border);
    border-radius: 50%;
    background-color: var(--color-error);

    color: var(--color-text-heading);
}

.meeting-start-status {
    font-size: var(--font-size-heading-3);
}