.list {
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: var(--padding-xs);
}

.message {
    padding: var(--padding);

    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-container);

    font-size: var(--font-size-heading-2);
    color: var(--color-text-heading);
    text-align: center;
}
