.wrapper {
	display: grid;
	grid-template-columns: auto max-content max-content max-content max-content;
	gap: var(--padding);
	align-items: center;
}

.info {
	display: grid;
	grid-template-columns: 40px max-content;
	gap: 0 var(--padding-sm);
	align-items: center;
}

.info-content {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.info-title {
	font-weight: bold;
	font-size: var(--font-size-heading-1);
	color: var(--color-text-heading);
}
.info-code {
	font-size: var(--font-size-heading-5);
	color: var(--color-text-description);
}
