.list {
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: var(--ant-padding-xs);
}

.message {
    padding: var(--ant-padding);

    border: 2px solid var(--ant-color-border);
    border-radius: var(--ant-border-radius);
    background-color: var(--ant-color-bg-container);

    font-size: var(--ant-font-size-heading-2);
    color: var(--ant-color-text-heading);
    text-align: center;
}
