.block {
    padding: var(--padding);

    display: flex;
    flex-direction: row;
    gap: var(--padding);
    align-items: center;

    border-radius: var(--border-radius);
    background-color: var(--color-bg-elevated);
}

.middle {
    flex: 1 1 auto;
}
